[submodule "KoalaMessagePublisherService"]
	path = KoalaMessagePublisherService
	url = git@github.com:YKDBontekoe/koala-bot-message-publisher-service.git
[submodule "KoalaMessageHandlerService"]
	path = KoalaMessageHandlerService
	url = git@github.com:YKDBontekoe/koala-bot-message-handler-service.git
[submodule "KoalaMessageSenderService"]
	path = KoalaMessageSenderService
	url = git@github.com:YKDBontekoe/koala-bot-message-sender-service.git
[submodule "KoalaMessageConsumerService"]
	path = KoalaMessageConsumerService
	url = git@github.com:YKDBontekoe/koala-bot-message-consumer-service.git
