 [
   {rabbit, [
      {loopback_users, []},
      {vm_memory_calculation,rss},
      {vm_memory_high_watermark, 0.6},
      {vm_memory_high_watermark_paging_ratio, 0.99},
      {log_levels, [{channel, warning}, {connection, warning}, {federation, warning}, {mirroring, info}]},
      {heartbeat, 10}
    ]},
    {rabbitmq_management, [
        {load_definitions, "/opt/definitions.json"}
    ]}
].
